name: update readme stats
on:
    push: # triggers the workflow on push to main branch
        branches:
            - main
    schedule: # triggers the workflow on a weekly schedule
        - cron: '0 8 * * 0' # runs every week at 8am ust/ midnight pst on Sunday
    workflow_dispatch: # allows me to manually trigger the workflow
jobs:
    stats:
        runs-on: ubuntu-latest
        steps:
            - name: checkout repository # retreive reposoitory content
              uses: actions/checkout@v6
              with:
                fetch-depth: 1 # fetch latest commit to current branch
            - name: get python # set up python to run script
              uses: actions/setup-python@v6
              with: 
                python-version: '3.11'
            - name: configure pip cache # caching pip packages to optimize workflow runtime
              uses: actions/cache@v4 
              with:
                path: ~/.cache/pip # where pip stores its cached packages
                key: ${{ runner.os }}-pip-${{ hashFiles('**/requirements.txt') }} # key that determines cache validity
                restore-keys: ${{ runner.os }}-pip- # fallback key if key is not found
            - name: install dependencies
              run: python -m pip install -r cache/requirements.txt
            - name: update README stats
              env:
                ACCESS_TOKEN: ${{ secrets.STATS_PAT_NEW }} # github token
              run: python src/stats.py
            - name: commit and push
              run: |-
                git add .
                git diff
                git config --local user.email "action@github.com"
                git config --local user.name "GitHub Action"
                git commit -m "updated README" || echo "No changes to commit"
                git push